
@{
    ViewBag.Title = "Listini Cliente";
}
@section header {

}

@section scripts {
    <script>

        

        function show_message(errore, messaggio) {
            alert(messaggio);
        };

        app.controller('ctrl', ['$scope', '$http', 'listiniService', 'tabController', function ($scope, $http, listiniService, tabController) {
            $scope.categorie = [];
            $scope.filtro = "Tutti gli articoli";
            $scope.records = [];
            $scope.cod_cat_merc_sel = '';

            $scope.select_cliente_filtri = function (item) {
                $scope.id_cliente = item ? item.id : '';
                $scope.refresh_page($scope.pag_corrente);
            };

            listiniService.getCategorie('@(Url.Action("getCategorie", "ListiniArticolo"))').then(function (result) {
                $scope.categorie = result.data;
            }, function (error) {
                show_message(error);
            });

            $scope.selezionaCategoria = function (item_sel) {
                if ("undefined" === typeof item_sel) {
                    $scope.filtro = "Tutti gli articoli";
                    $scope.cod_cat_merc_sel = '';
                    for (var j = 0; j < $scope.categorie.length; j++) {
                        item = $scope.categorie[j];
                        if (item.livello == 2) {
                            item.visibile = false;
                        }
                    }
                } else {
                    $scope.filtro = item_sel.descrizione;
                    $scope.cod_cat_merc_sel = item_sel.id_cat_merc;
                    if (item_sel.livello == 1) {
                        for (var j = 0; j < $scope.categorie.length; j++) {
                            item = $scope.categorie[j];
                            if (item.livello == 2) {
                                if (item.id_cat_merc.substring(0, item_sel.id_cat_merc.length) == item_sel.id_cat_merc) {
                                    item.visibile = !item.visibile;
                                } else {
                                    item.visibile = false;
                                }
                            }
                        }
                    }
                };
                $scope.refresh();
            };
            

            $scope.refresh = function () {
                $http({
                method: 'GET',
                url: '@(Url.Action("getPaginatore"))',
                params: { query: $scope.query, cod_cat_merc: $scope.cod_cat_merc_sel }
            }).then(function successCallback(response) {
                    $scope.rec_x_pagina = response.data.rec_x_pagina;
                    $scope.rec_number = response.data.rec_number;
                    $scope.pag_number = response.data.pag_number;
                    $scope.refresh_page(0);
                    }, function errorCallback(response) {
                        show_message('Errore', error.data);
             });
            };

            $scope.refresh_page = function (page_number) {
                $http({
                    method: 'GET',
                    url: '@(Url.Action("getConenutoPagina"))',
                    params: {
                        query: $scope.query, cod_cat_merc: $scope.cod_cat_merc_sel, id_cliente: $scope.id_cliente, page_number: page_number
                    }
                }).then(function (response) {
                        $scope.records = response.data;
                        $scope.pag_corrente = page_number;
                        $scope.rec_pagina = -1;
                    }).catch(function (error, status) {
                        show_message('Errore', error.data);
                    });
            };
            $scope.refresh();

            //$scope.next_record = tabController.next_record;
            //$scope.previous_record = tabController.previous_record;

            $scope.next_record = function () {
                $scope.rec_pagina++;
                if ($scope.rec_pagina >= $scope.records.length ) {
                    $scope.rec_pagina = 0;
                }
                $('#table tr:nth-child(' + ($scope.rec_pagina + 1) +') input.request-focus').focus();
            };

            $scope.previous_record = function () {
                $scope.rec_pagina--;
                if ($scope.rec_pagina < 0 ) {
                    $scope.rec_pagina = $scope.records.length - 1;
                }
                $('#table tr:nth-child(' + ($scope.rec_pagina + 1)  + ') input.request-focus').focus();
            };

            $scope.linefocused = function (line) {
                $scope.rec_pagina = line;
            };

            /* Gestione paginatore*/
            $scope.nr_pagine_display = 4;
            $scope.nr_pagina_paginatore = function (indice) {
                if (indice + 1 > $scope.pag_number) {
                    return -1;
                } else if ($scope.pag_corrente + 1 < $scope.nr_pagine_display) {
                    return indice;
                } else {
                    return $scope.pag_corrente + indice - $scope.nr_pagine_display;
                }
            };

            $scope.save = function (item) {
                item.id_cliente = $scope.id_cliente;
                $http({
                    method: 'POST',
                    url: '@(Url.Action("saveListino"))',
                    data: item
                }).then(function (response) {
                        //gestire ACK
                    }).catch(function (error, status) {
                        show_message('Errore', error.data);
                    });
            };

            $scope.save_current_record = function () {
                if ($scope.rec_pagina >= 0 && $scope.rec_pagina < $scope.records.length) {
                    $scope.save($scope.records[$scope.rec_pagina]);
                } else {
                    show_message('Errore', "Nessun record selezionato");
                }
            };

            $scope.aggiornaMassimoPrezziAcquisto = function () {
                for (var j = 0; j < $scope.records.length; j++) {
                    $scope.records[j].prezzo_acquisto = $scope.prezzo_acquisto;
                }
            };

        }]);

        shortcut.add("Home", function () {
            $('#query').focus();
        });

        shortcut.add("Up", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.previous_record();
            });
        });
        shortcut.add("Down", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.next_record();
            });
        });
        shortcut.add("Ctrl+S", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.save_current_record();
            });
        });
        shortcut.add("pd", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.pag_corrente < scope.pag_number - 1) {
                    scope.refresh_page(scope.pag_corrente + 1);
                }
            });
        });
        shortcut.add("pu", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.pag_corrente > 0) {
                    scope.refresh_page(scope.pag_corrente - 1);
                }
            });
        });


    </script>
}

<div class="main-content" ng-controller="ctrl" ng-cloak>
    <div class="row">
        <div class="col-md-2 col-lg-2">
            <h4><i class="fa fa-bars"></i> Menu</h4>
            <ul class="nav nav-stacked nav-pills">
                <li>
                    <a class="livello0" ng-click="selezionaCategoria()">Tutti gli articoli</a>
                </li>
                <li class="nav-livello" ng-repeat="item in categorie" ng-class="{'active': item.id_cat_merc == cod_cat_merc_sel}">
                    <a class="livello{{item.livello}}"
                       ng-click="selezionaCategoria(item)"
                       ng-class="{ visibile: item.visibile, selezionato: item.id_cat_merc == cod_cat_merc_sel }">
                        <span class="fa fa-caret-right"></span>&nbsp;
                        {{item.descrizione}}
                    </a>

                </li>
            </ul>
        </div>
        <div class="col-md-10 col-lg-10">
            <h4><i class="fa fa-filter"></i> Filtro - {{filtro}}</h4>
            <div class="form-inline">
                <div class="form-group col-md-4 col-lg-4">
                    <input type="text" class="form-control" placeholder="seleziona il cliente.."
                           typehead="@(Url.Action("GetClienti", "Get"))" on-select="select_cliente_filtri" />
                </div>
                <div class="input-group">
                    <input id="query" capitalize
                           type="text" 
                           class="form-control" 
                           placeholder="cerca per codice articolo o descrizione..." 
                           ng-model="query" 
                           ng-on-enter="refresh()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="refresh()"><i class="fa fa-search"></i>&nbsp;Cerca</button>
                    </span>
                </div>
            </div>
            <h4><i class="fa fa-list-ul"></i> Listino {{cliente.name}} </h4>
            <!--{{cliente}}-->

            <table class="table table-hover table-striped" id="table">
                <thead>
                    <tr>
                        <th>Art</th>
                        <th>Descrizione</th>
                        <th>Pr Ven </th>
                        <th>Sc 1</th>
                        <th>Sc 2</th>
                        <th>Sc 3</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in records">
                        <td>{{item.id_codice_art}}</td>
                        <td>{{item.descrizione}}</td>
                        <td>
                            <input type="number" class="form-control text-right request-focus"
                                   ng-model="item.prezzo_vendita" style="width:80px;"
                                   ng-disabled="!id_cliente"
                                   ng-focus="linefocused($index);" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-right"
                                   ng-model="item.sconto_1" style="width:80px;"
                                   ng-disabled="!id_cliente"
                                   ng-focus="linefocused($index);" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-right"
                                   ng-model="item.sconto_2" style="width:80px;"
                                   ng-disabled="!id_cliente"
                                   ng-focus="linefocused($index);" />
                        </td>
                        <td>
                            <input type="number" class="form-control text-right"
                                   ng-model="item.sconto_3" style="width:80px;"
                                   ng-disabled="!id_cliente"
                                   ng-focus="linefocused($index);" />
                        </td>
                        <td>
                            <button class="btn btn-primary"
                                    ng-click="save(item);">
                                <span class="fa fa-save" />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="pag_number > 1">
                <ul class="pagination" style="text-align: center;">
                    <li><span class="page_number">Pag. {{pag_corrente + 1}} / {{pag_number}}</span></li>
                    <li>
                        <a ng-click="refresh_page(0)"
                           ng-class="{disabled: pag_corrente == 0}"
                           href="#nav">&lt;&lt;</a>
                    </li>
                    <li>
                        <a ng-click="refresh_page(pag_corrente-1)"
                           ng-class="{disabled: pag_corrente == 0}"
                           href="#nav">&lt;</a>
                    </li>
                    <li ng-repeat="p_nr in [0,1,2,3]">
                        <a ng-click="refresh_page(nr_pagina_paginatore(p_nr))"
                           ng-bind="nr_pagina_paginatore(p_nr) + 1"
                           ng-hide="nr_pagina_paginatore(p_nr)==-1"
                           ng-class="{disabled: pag_corrente == nr_pagina_paginatore(p_nr)}"
                           href="#nav">
                        </a>
                    </li>
                    <li>
                        <a ng-click="refresh_page(pag_corrente+1)"
                           ng-class="{disabled: pag_corrente >= pag_number - 1}"
                           href="#nav">&gt;</a>
                    </li>
                    <li>
                        <a ng-click="refresh_page(pag_number-1)"
                           ng-class="{disabled: pag_corrente >= pag_number - 1}"
                           href="#nav">&gt;&gt;</a>
                    </li>
                </ul>
            </div> <!--Fine paginatore -->


        </div>
    </div>
</div>