
@{
    ViewBag.Title = "Ordini di Vendita";
    string currentUrl = HttpContext.Current.Request.Url.AbsoluteUri;
}
@section header {
    <script>
        function show_message(errore, messaggio) {
            alert(messaggio);
        };
        app.controller('ctrl', ['$scope', '$http', '$resource', 'tabController', function ($scope, $http, $resource, tabController) {

            @*@(ViewBag.scope_var)*@
            $scope.filtri = {};

            $scope.displayMode = "list";
            $scope.current = null;

            $scope.records = [];

            tabController.setBaseUrl('@currentUrl', show_message);
            tabController.refresh();
            $scope.tc = tabController;

            console.log(tabController);


            $scope.refresh = function () {
                $http({
                method: 'GET',
                url: '@(Url.Action("getPaginatore"))',
                params: $scope.filtri
            }).then(function successCallback(response) {
                    $scope.rec_x_pagina = response.data.rec_x_pagina;
                    $scope.rec_number = response.data.rec_number;
                    $scope.pag_number = response.data.pag_number;
                    $scope.refresh_page(0);
                    }, function errorCallback(response) {
                        show_message('Errore', error.data);
             });
            };


            $scope.refresh_page = function (page_number) {
                $scope.filtri.page_number = page_number;
                $http({
                    method: 'GET',
                    url: '@(Url.Action("getConenutoPagina"))',
                    params: $scope.filtri
                }).then(function (response) {
                        $scope.records = response.data;
                        $scope.pag_corrente = page_number;
                        $scope.rec_pagina = -1;
                    }).catch(function (error, status) {
                        show_message('Errore', error.data);
                    });
            };
            $scope.refresh();

            

            $scope.next_record = function () {
                $scope.rec_pagina++;
                if ($scope.rec_pagina >= $scope.records.length ) {
                    $scope.rec_pagina = 0;
                }
                $('#table tr:nth-child(' + ($scope.rec_pagina + 1) +') input.request-focus').focus();
            };
            $scope.previous_record = function () {
                $scope.rec_pagina--;
                if ($scope.rec_pagina < 0 ) {
                    $scope.rec_pagina = $scope.records.length - 1;
                }
                $('#table tr:nth-child(' + ($scope.rec_pagina + 1)  + ') input.request-focus').focus();
            };

            /* Gestione paginatore*/
            $scope.nr_pagine_display = 4;
            $scope.nr_pagina_paginatore = function (indice) {
                if (indice + 1 > $scope.pag_number) {
                    return -1;
                } else if ($scope.pag_corrente + 1 < $scope.nr_pagine_display) {
                    return indice;
                } else {
                    return $scope.pag_corrente + indice - $scope.nr_pagine_display;
                }
            };

            $scope.deleteItem = function (item) {
                bootbox.confirm("Intendi procedere?", function (result) {
                    if (result) {
                        $http({
                            method: 'DELETE',
                            url: '@(Url.Action("delete"))',
                            data: $scope.current
                        }).then(function (response) {
                            $scope.displayMode = "list";
                            $scope.refresh_page($scope.filtri.page_number);
                        }).catch(function (error, status) {
                            show_message('Errore', error.data);
                            });
                    }
                });
            };

            $scope.editOrCreate = function (item) {
                $scope.nuovo = 'undefined' === typeof(item);
                $scope.current = item ? item : {};
                //Se siamo in modifica
                if (!$scope.nuovo) {
                    $http({
                        method: 'GET',
                        url: '@(Url.Action("select"))',
                        params: item
                    }).then(function (response) {
                        $scope.displayMode = "list";
                        $scope.current = response.data;
                    }).catch(function (error, status) {
                        show_message('Errore', error.data);
                        });
                } else {
                    $scope.displayMode = "edit";
                    $scope.current = {};
                }

            };

            $scope.saveEdit = function (item) {
                if ($scope.nuovo) {
                    $scope.create(item);
                } else {
                    $scope.update(item);
                }
            };

            $scope.create = function (item) {
                $http({
                    method: 'POST',
                    url: '@(Url.Action("update"))',
                    data: $scope.current
                }).then(function (response) {
                    $scope.displayMode = "list";
                    $scope.refresh_page($scope.filtri.page_number);
                }).catch(function (error, status) {
                    show_message('Errore', error.data);
                    });
            };

            $scope.update = function (item) {
                $http({
                    method: 'PUT',
                    url: '@(Url.Action("update"))',
                    data: $scope.current
                }).then(function (response) {
                    $scope.displayMode = "list";
                    $scope.refresh_page($scope.filtri.page_number);
                }).catch(function (error, status) {
                    show_message('Errore', error.data);
                });
            };


            $scope.cancelEdit = function () {
                $scope.current = {};
                $scope.displayMode = "list";
                $scope.refresh_page($scope.filtri.page_number);
            };


        }]);
    </script>
}
@section scripts{
    <script>
        shortcut.add("Home", function () {
            $('#query').focus();
        });
        shortcut.add("Up", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.previous_record();
            });
        });
        shortcut.add("Down", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.next_record();
            });
        });
        shortcut.add("Ctrl+S", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.save_current_record();
            });
        });
        shortcut.add("pd", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.pag_corrente < scope.pag_number - 1) {
                    scope.refresh_page(scope.pag_corrente + 1);
                }
            });
        });
        shortcut.add("pu", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.pag_corrente > 0) {
                    scope.refresh_page(scope.pag_corrente - 1);
                }
            });
        });
    </script>
}


<div class="header">
    <div class="col-md-12">
        <h3 class="header-title">@ViewBag.Title</h3>
        <p class="header-info">gestione ordini di vendita </p>
        
    </div>
</div>
<div class="main-content" ng-controller="ctrl">
    {{tc.displayMode}}
    <div ng-show="tc.displayMode == 'list'">
        <!--Elenco inizio -->
        <div class="page-toolbar">
            <button class="btn btn-grey" ng-click="tc.refresh()"><i class="fa fa-refresh">&nbsp;</i>Refresh</button>
            <button class="btn btn-grey" ng-click="tc.editOrCreate()"><i class="fa fa-plus-square">&nbsp;</i>Nuovo</button>
        </div> <!-- page-toolbar -->
        <div class="margin-b-20"></div>

        <div class="panel panel-default">
            <div class="panel-heading">Filtri</div>
            <div class="panel-body">

                <div class="input-group">
                    <input id="query" capitalize
                           type="text" class="form-control"
                           ng-model="filtri.id_cliente" placeholder="cerca..."
                           ng-on-enter="tc.refresh()" />
                    <span class="input-group-btn">
                        <button ng-click="tc.refresh()" type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div> <!--Fine -->

            </div>
        </div>

        <div class="row">

            <div class="col-md-12 col-lg-12">

                <h4><i class="fa fa-list-ul"></i> Elenco</h4>
                <table class="table table-hover table-striped" id="table">
                    <thead>
                        <tr>
                            <th>Nr Ord.</th>
                            <th>Cliente</th>
                            <th>Data Ordine</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tc.records">
                            <td>{{item.id_ordine}}</td>
                            <td>{{item.id_cliente}}</td>
                            <td>{{item.data_ordine}}</td>
                            <td>
                                <button class="btn btn-grey btn-xs" ng-click="deleteItem(item)"><i class="glyphicon glyphicon-trash"></i></button>
                                <button class="btn btn-grey btn-xs" ng-click="editOrCreate(item)"><i class="fa fa-pencil-square-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="pag_number > 1">
                    <ul class="pagination" style="text-align: center;">
                        <li><span class="page_number">Pag. {{tc.pag_corrente + 1}} / {{tc.pag_number}}</span></li>
                        <li>
                            <a ng-click="tc.refresh_page(0)"
                               ng-class="{disabled: tc.pag_corrente == 0}"
                               href="#nav">&lt;&lt;</a>
                        </li>
                        <li>
                            <a ng-click="tc.refresh_page(tc.pag_corrente-1)"
                               ng-class="{disabled: tc.pag_corrente == 0}"
                               href="#nav">&lt;</a>
                        </li>
                        <li ng-repeat="p_nr in [0,1,2,3]">
                            <a ng-click="refresh_page(tc.nr_pagina_paginatore(p_nr))"
                               ng-bind="nr_pagina_paginatore(p_nr) + 1"
                               ng-hide="nr_pagina_paginatore(p_nr)==-1"
                               ng-class="{disabled: pag_corrente == nr_pagina_paginatore(p_nr)}"
                               href="#nav">
                            </a>
                        </li>
                        <li>
                            <a ng-click="tc.refresh_page(tc.pag_corrente+1)"
                               ng-class="{disabled: tc.pag_corrente >= tc.pag_number - 1}"
                               href="#nav">&gt;</a>
                        </li>
                        <li>
                            <a ng-click="tc.refresh_page(pag_number-1)"
                               ng-class="{disabled: tc.pag_corrente >= tc.pag_number - 1}"
                               href="#nav">&gt;&gt;</a>
                        </li>
                    </ul>
                </div> <!--Fine paginatore -->
            </div> <!--Dettaglio-->
        </div>
    </div> <!--Fine Elenco-->


    <div ng-show="tc.displayMode == 'edit'">
        <!-- Dettaglio inizio -->
        <div class="page-toolbar">
            <button class="btn btn-grey" ng-click="saveEdit(current)"><i class="fa fa-floppy-o">&nbsp;</i>Salva</button>
            <button class="btn btn-grey" ng-click="cancelEdit()"><i class="fa fa-times">&nbsp;</i>Annulla</button>
        </div> <!-- page-toolbar -->
        <div class="margin-b-20"></div>
    </div> <!-- Dettaglio fine -->
</div>
