
@{
    ViewBag.Title = "Ordini di Vendita";
    string currentUrl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/" + ViewContext.RouteData.GetRequiredString("controller");
}
@section header {
    <script>
        show_message = function (errore, messaggio) {
            alert(messaggio);
        }

        app.controller('ctrl', ['$scope', 'tabController', function ($scope, tabController) {
            $scope.select_row = function (index) {
                console.log(index);
                $('#table tr').removeClass('text-info');
                $('#table tr:nth-child(' + (index) + ') ').addClass('text-info');
            };

            @*@(ViewBag.scope_var)*@
            $scope.tc = tabController.createController({
                api_root: '@currentUrl',
                select_row_call_back: $scope.select_row,
                message_function: show_message
            });
            $scope.tc.refresh();

        }]);

    </script>
}
@section scripts{
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.it.min.js")"></script>
    <script>
        $('.data-new input').datepicker({ format: "dd/mm/yyyy", weekStart: 1, language: "it", calendarWeeks: true });

        $('#a-data').change(function () {
            var current = $('#a-data').val();
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.filtri.al_data = current.substring(6, 10) + '-' + current.substring(3, 5) + '-' + current.substring(0, 2);
                scope.tc.refresh(scope.pag_corrente);
            });
        });

        $('#da-data').change(function () {
            var current = $('#da-data').val();
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.filtri.da_data = current.substring(6, 10) + '-' + current.substring(3, 5) + '-' + current.substring(0, 2);
                scope.tc.refresh(scope.pag_corrente);
            });
        });


        $("#sel-cliente").typeahead({
                source: function (query, process) {
                    var rss = [];
                    map = {};

                    return $.post('@(Url.Action("GetClienti", "Get"))', { query: query }, function (data) {
                        $.each(data, function (i, rs) {
                            map[rs.id_cliente] = rs;
                            rss.push(rs.ragione_sociale);
                        });
                        process(rss);
                    });
                },
                updater: function (item) {
                    var selectedShortCode = map[item].ShortCode;

                    $(this).text("Selected : " + selectedShortCode);
                    return item;
                }
            });


        @*$.get('@(Url.Action("GetClienti", "Get"))', function (data) {
             $('#sel-cliente').typeahead({
                source: data
            });
        });

         $('#sel-cliente').change(function () {
             var current = $('#sel-cliente').typeahead("getActive");
             var scope = angular.element($("[ng-controller='ctrl']")).scope();
             scope.$apply(function () {
                 scope.tc.filtri.id_cliente = current.id;
                 scope.tc.refresh(scope.pag_corrente);
             });
         });*@

         $.get('@(Url.Action("GetAgenti", "Get"))', function (data) {
             $('#sel-agente').typeahead({
                source: data
            });
        });

         $('#sel-agente').change(function () {
             var current = $('#sel-agente').typeahead("getActive");
             var scope = angular.element($("[ng-controller='ctrl']")).scope();
             scope.$apply(function () {
                 scope.tc.filtri.id_agente = current.id;
                 scope.tc.refresh(scope.pag_corrente);
             });
         });

        shortcut.add("Home", function () {
            $('#query').focus();
        });
        shortcut.add("Up", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.previous_record();
            });
        });
        shortcut.add("Down", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.next_record();
            });
        });
        shortcut.add("Ctrl+S", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.save_current_record();
            });
        });
        shortcut.add("pd", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.tc.pag_corrente < scope.tc.pag_number - 1) {
                    scope.tc.refresh_page(scope.tc.pag_corrente + 1);
                }
            });
        });
        shortcut.add("pu", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.tc.pag_corrente > 0) {
                    scope.tc.refresh_page(scope.tc.pag_corrente - 1);
                }
            });
        });
    </script>
}


<div class="main-content" ng-controller="ctrl">

    <div ng-show="tc.displayMode == 'list'">
        <!--Elenco inizio -->
        <div class="page-toolbar">
            <button class="btn btn-grey" ng-click="tc.refresh()"><i class="fa fa-refresh">&nbsp;</i>Refresh</button>
            <button class="btn btn-grey" ng-click="tc.editOrCreate()"><i class="fa fa-plus-square">&nbsp;</i>Nuovo</button>
        </div> <!-- page-toolbar -->
        <div class="margin-b-20"></div>

        <div class="panel panel-primary" style="margin-bottom: 0px;">
            <div class="panel-body">
                <div class="form-inline">

                    <div class="form-group">
                        <label>Agente</label>
                        <input type="text" class="form-control" placeholder="seleziona l'agente.." id="sel-agente" />
                    </div>
                    <div class="form-group">
                        <label>Cliente</label>
                        <input type="text" class="form-control" placeholder="seleziona il cliente.." id="sel-cliente" />
                    </div>
                    <div class="form-group data-new">
                        <label>da data</label>
                        <input type="text" class="form-control" id="da-data" />
                    </div>
                    <div class="form-group data-new">
                        <label>a data</label>
                        <input type="text" class="form-control" id="a-data" />
                    </div>
                    <div class="form-group">
                        <label>da ordine</label>
                        <input type="text" class="form-control" ng-model="tc.filtri.id_ordine_da" ng-change="tc.refresh()" />
                    </div>
                    <div class="form-group">
                        <label>a ordine</label>
                        <input type="text" class="form-control" ng-model="tc.filtri.id_ordine_al" ng-change="tc.refresh()" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12 col-lg-12">
                <tab-controller-pag table-controller="tc"></tab-controller-pag>
                <table class="table table-striped" id="table">
                    <thead>
                        <tr>
                            <th>Nr Ord.</th>
                            <th>Cliente</th>
                            <th>Agente</th>
                            <th>Data Ordine</th>
                            <th>Imponibile</th>
                            <th>Ord.Chiuso</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tc.records">
                            <td>{{item.esercizio}} - {{item.id_ordine | trimZeros}}</td>
                            <td>{{item.id_cliente | trimZeros}} {{item.ragione_sociale}}</td>
                            <td>{{item.id_agente | trimZeros}} {{item.ragione_sociale_agente}}</td>
                            <td>{{item.data_ordine | date: short}}</td>
                            <td>{{item.totale_doc | number:2}}</td>
                            <td class="text-center"><i class="fa {{item.ordine_chiuso?'fa-lock text-danger':'fa-unlock text-success'}}"></i></td>
                            <td>
                                <button class="btn btn-grey btn-xs" ng-click="tc.deleteItem(item)"><i class="glyphicon glyphicon-trash"></i></button>
                                <button class="btn btn-grey btn-xs" ng-click="tc.editOrCreate(item)"><i class="fa fa-pencil-square-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div> <!--Dettaglio-->
        </div>
    </div> <!--Fine Elenco-->


    <div ng-show="tc.displayMode == 'edit'">
        <!-- Dettaglio inizio -->
        <div class="page-toolbar">
            <button class="btn btn-grey" ng-click="tc.saveEdit(current)"><i class="fa fa-floppy-o">&nbsp;</i>Salva</button>
            <button class="btn btn-grey" ng-click="tc.cancelEdit()"><i class="fa fa-times">&nbsp;</i>Annulla</button>
        </div> <!-- page-toolbar -->
        <div class="margin-b-20"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Fatturare a</label>
                                <input type="text" class="form-control" placeholder="seleziona il cliente" />
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Destinazione merce</label>
                                <input type="text" class="form-control" placeholder="" />
                                <input type="text" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Tot Peso</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Vettore</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm-8">
                                        <label>Azienda</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="margin-b-20"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">

                </div>
            </div>
        </div>
    </div> <!-- Dettaglio fine -->
</div>
