@{ 
    string id = string.IsNullOrEmpty(ViewBag.page) ? string.Empty : "#" + ViewBag.page;
}
<!DOCTYPE html>
<html ng-app="start">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")    
    
    <script>
        var app = angular.module('start', ['ngResource', 'angularUtils.directives.dirPagination', 'appModules', 'appServices', 'appFilters', 'webCore']);
    </script>

    @RenderSection("header", required: false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="cover">
    <div class="wrapper">
        @Html.Partial("_Nav")
        <div class="body">
            <section class="content">
                @RenderBody()                
            </section>
        </div>
    </div>

    <div class="modal fade" id="modal_message" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button id="modal_message_ok_btn" type="button" class="btn btn-primary btn-min-width" data-dismiss="modal">Chiudi</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="modal_confirmation" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button id="modal_confirmation_cancel_btn" type="button" class="btn btn-primary btn-min-width" data-dismiss="modal">Annulla</button>
                    <button id="modal_confirmation_ok_btn" type="button" class="btn btn-primary btn-min-width" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>	


    @RenderSection("scripts", required: false)  
    <script>
        $('#nav @(id)').addClass('active');

        function show_message(title, message, okCallBack) {
            $('#modal_message .modal-title').html(title);
            $('#modal_message .modal-body p').html(message);
            $('#modal_message').modal('show');
            if (!("undefined" === typeof okCallBack)) {
                $('#modal_message_ok_btn').click(function () {
                    okCallBack.call();
                });
            }
        };


        function show_confirmation(title, message, okCallBack, cancelCallBack) {
            $('#modal_confirmation .modal-title').html(title);
            $('#modal_confirmation .modal-body p').html(message);
            $('#modal_confirmation').modal('show');

            if (!("undefined" === typeof okCallBack)) {
                $('#modal_confirmation_ok_btn').click(function () {
                    okCallBack.call();
                });
            }

            if (!("undefined" === typeof cancelCallBack)) {
                $('#modal_confirmation_cancel_btn').click(function () {
                    cancelCallBack.call();
                });
            }
        };   

    </script>
</body>
</html>
