@{ 
    string id = string.IsNullOrEmpty(ViewBag.page) ? string.Empty : "#" + ViewBag.page;
}
<!DOCTYPE html>
<html ng-app="start">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularjs")
    <script>
        var app = angular.module('start', ['ngResource', 'angularUtils.directives.dirPagination', 'appModules', 'appServices','webCore']);
    </script>
    @RenderSection("header", required: false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="cover">
    <div class="wrapper">
        @Html.Partial("_Nav")
        <div class="body">
            <section class="content">
                @RenderBody()                
            </section>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)  
    <script>
        $('#nav @(id)').addClass('active');
    </script>
</body>
</html>
