@{ 
    string user = string.IsNullOrEmpty(User.Identity.Name) ? string.Empty : User.Identity.Name;
}
<div class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            &copy; Fast Order - @ViewBag.Title
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs">
            <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>
        </li>  
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i><span>@user <i class="caret"></i></span></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-gear"></i>Profilo</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Logout", "Auth")"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </li>        
    </ul>

</div><!--Head Nav-->
<div id="nav" class="navbar navbar-default navbar-static-top navbar-top" role="navigation">
    <ul class="nav navbar-nav">
        <li id="home"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-fw"></i>Home</a></li>        
        <li id="anagrafiche" class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-submenu><i class="fa fa-archive fa-fw"></i>Anagrafiche<i class="caret"></i></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Articoli")"><i class="fa fa-leaf"></i> Articoli</a></li>
                <li class="dropdown-submenu">
                    <a><i class="fa fa-th-list fa-fw"></i>Listini</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "ListiniArticolo")"><i class="fa fa-file"></i> Listini Articolo</a></li>
                        <li><a href="@Url.Action("Index", "ListiniCliente")"><i class="fa fa-copy"></i> Listini Cliente</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "ListiniArticoloAcq")"><i class="fa fa-file-archive-o"></i> Listini Acquisto</a></li>
                        <li class="divider"></li>
                        
                    </ul>
                </li>
                <li><a href="@Url.Action("Index", "Provvigioni")"><i class="fa fa-address-book"></i> Provvigioni</a></li>
            </ul>
        </li>        
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-table fa-fw"></i><span>Vendite <i class="caret"></i></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Ordini", "Index", "OrdiniVendita", new { area = "" }, new { id = "mnu_ordini_vend" })</li>
            </ul>
        </li>        
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-arrows-h fa-fw"></i><span>Movimenti <i class="caret"></i></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Mov x Articolo", "Index", "MovArticolo", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Mov x Cliente", "Index", "MovCliente", new { area = "" }, null)</li>
            </ul>
        </li>        
    </ul>
</div><!--Action Nav-->



