@{ 
    string user = string.IsNullOrEmpty(User.Identity.Name) ? string.Empty : User.Identity.Name;
}
<div class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            &copy; Fast Order - Versione 1.0.0
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs">
            <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>
        </li>  
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i><span>@user <i class="caret"></i></span></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-gear"></i>Profilo</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Logout", "Auth")"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </li>        
    </ul>

</div><!--Head Nav-->
<div class="navbar navbar-default navbar-static-top navbar-top" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-fw"></i>Home</a></li>        
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-archive fa-fw"></i>Anagrafiche<i class="caret"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-leaf"></i> Articoli</a></li>
                <li><a href="@Url.Action("Index", "ListiniArticolo")#"><i class="fa fa-file"></i> Listini Articolo</a></li>                
            </ul>
        </li>        
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-table fa-fw"></i><span>Vendite <i class="caret"></i></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Ordini", "OrdiniVendita", "Home", new { area = "" }, new { id = "mnu_ordini_vend" })</li>
            </ul>
        </li>        
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-bag fa-fw"></i><span>Acquisti <i class="caret"></i></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("OrdiniAcquisto", "Index", "Home", new { area = "" }, null)</li>
            </ul>
        </li>        
    </ul>
</div><!--Action Nav-->



